# Dependencias y compilación
node_modules/
build/
dist/
coverage/

# Entorno y variables de sistema
.env*
!.env.example
*.log
.DS_Store
Thumbs.db

# Configuración de IDE y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scripts de lanzamiento local del sistema
*.cmd
*.ps1
*.bat
*.sh
